:root {
  --branding-color: rgb(249, 250, 248);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
  font-size: 48px;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
.beginTitle {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 0;
}
.beginTitle p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 86px;
}
h2 {
  font-size: 64px;
}
.beginTitle h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  margin-bottom: 40px;
}
.project-descr {
  padding: 120px 20px;
}
.img-fluid weather {
  width: 70%;
}
.content-container .img-fluid {
  border-radius: 10px;
}
.content-container h1 {
  font-size: 56px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-weight: bold;
}
.content-container {
  padding: 120px 20px;
}
.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-top: 15px;
}
.content p {
  font-size: 14px;
  font-weight: bold;
}
.logo {
  max-width: 150px;
}
nav {
  padding: 20px 0px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 20px;
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: rgb(136, 135, 135);
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
}
footer .email-link:hover {
  color: rgb(136, 135, 135);
}
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: #272142;
  font-size: 20px;
  background-color: var(--branding-color);
  padding: 20px 24px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: aliceblue;
  background-color: #272142;
  transition: all 100ms ease-in-out;
}
footer .contact-box {
  background-color: var(--branding-color);
  margin-bottom: 30px;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .contact-box a {
  font-size: 20px;
  padding: 15px 25px;
  margin-top: 15px;
}
@media (max-width: 900px) {
  .project-descr {
    padding: 15px;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0px 20px;
  }
  .content-container h1 {
    font-size: 35px;
    line-height: 1;
  }
  .content-container .img-fluid {
    padding-bottom: 15px;
  }

  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 45px;
  }
  .beginTitle {
    background-color: var(--branding-color);
    text-align: center;
    padding: 100px 0;
  }

  nav li {
    margin-left: 5px;
  }
  footer .contact-box {
    padding: 30px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
  footer .contact-box a {
    font-size: 15px;
    padding: 8px 15px;
    margin-top: 10px;
  }
}
@media (max-width: 756px) {
  .content-container .img-fluid {
    padding-bottom: 15px;
    width: 300px;
    height: 300px;
  }
  .logo {
    max-width: 90px;
    max-height: 40px;
  }
  nav li {
    margin-left: 8px;
  }
  footer .contact-box {
    padding: 30px;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
  footer .contact-box a {
    font-size: 15px;
    padding: 8px 15px;
    margin-top: 10px;
  }
}
