:root {
  --branding-color: rgb(249, 250, 248);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
.beginTitle {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 0;
}
.beginTitle p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 86px;
}
h2 {
  font-size: 64px;
}
.beginTitle h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  margin-bottom: 40px;
}
.project-descr {
  padding: 120px 20px;
}
.img-fluid weather {
  width: 70%;
}
@media (max-width: 900px) {
  .project-descr {
    padding: 0px;
    text-align: center;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 45px;
  }
  .beginTitle {
    background-color: var(--branding-color);
    text-align: center;
    padding: 100px 0;
  }
}
